html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection {
	background: #f06;
	color: #050505;
	text-shadow: none;
}
::selection {
	background: #f06;
	color: #050505;
	text-shadow: none;
}



body {
	font-family: "Source Sans Pro", sans-serif;
	color: #2d2d2d;
	background: #FFFEF2;
	overflow-y: scroll;
}
.wrap {
	margin: 3em auto;
	width: 960px;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	column-span: all;
}
h1 {
	position: absolute;
	left: -9999px;
	font-weight: 700;
	text-align: center;
}
h2 {
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	padding: 1em 0;
}
h3 {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
}
h2 span {
	border-bottom: .15em solid #2d2d2d;
	cursor: pointer;
}
.loc {
	page-break-after: always;
}
.inside {
	padding: 1em 0;
}
.inside table td {
	border: 1px solid #2d2d2d;
	padding: .5em;
}
#transitions {
	column-count: 3;
	column-gap: 4em;
	column-rule: 1px solid #2d2d2d;
}
#transitions p {
	line-height: 1.5;
	padding: .5em 0;
	font-size: 1.25em;
}
#emotions table {
	float: left;
	font-size: 1.25em;
	width: 45%;
	margin: 0 2.5% 1em;
}
#emotions td {
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
}
.title-cell {
	font-weight: 700;
}
#resources ol {
	list-style-type: decimal;
	line-height: 2;
	font-size: 1.25em;
	margin-left: 3em;
}
#resources strong {
	font-weight: 700;
}




.clearfix{clear:both!important;}
.no-read{speak:none;}
.no-see{position:absolute;left:-9999px;}
.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.none{display:none;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-justify{text-align:justify;}